<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tws.repository.EmployeeMapper">
    <select id="selectAll" resultType="tws.entity.Employee">
        select * from `employee`;
    </select>

    <select id="selectLike" resultType="tws.entity.Employee">
        select * from `employee`
        <if test ="keyword != null">
            <bind name = "pattern" value = "'%' + keyword + '%'"/>
            where `name` like #{pattern}
        </if>
        ;

    </select>

    <select id="selectList" resultType="tws.entity.Employee">
        select * from `employee` order by id offset #{offset} rows fetch next
        #{pagesize} rows only;
    </select>

    <insert id="insert">
        insert into `employee` (`id`,`name`,`age`)
        values (#{employee.id},#{employee.name},#{employee.age});
    </insert>

    <select id="selectOne" parameterType ="java.lang.String" resultType="tws.entity.Employee">
        select * from `employee` where id = #{id};
    </select>

    <update id="updateOne">
        update `employee` set `name` = #{employee.name},
                              `age` = #{employee.age}
        where id = #{id};
    </update>


</mapper>
